# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
hist_equ_cuda/.vs/hist_equ_cuda/v16/Browse.VC.db
*.opendb
*.db-wal
*.db-shm
*.db
hist_equ_cuda/.vs/hist_equ_cuda/v16/.suo
*.ipch
*.db
*.db
hist_equ_cuda/.vs/hist_equ_cuda/v16/.suo
hist_equ/.vs/hist_equ/v16/.suo
hist_equ/hist_equ/x64/Debug/hist_equ.log
*.tlog
*.idb
*.pdb
*.ilk
*.pdb
hist_equ_cuda/.vs/hist_equ_cuda/v16/.suo
hist_equ_cuda/.vs/hist_equ_cuda/v16/.suo
hist_equ_cuda/.vs/hist_equ_cuda/v16/Browse.VC.db
*.db
hist_equ_cuda/.vs/hist_equ_cuda/v16/.suo
